$red: var(--primary);
$lightblue: var(--lightblue);
$blue: var(--blue);
$darkblue: var(--darkblue);
$offwhite: var(--offwhite);


$z5: 10000;
$z4: 1000;
$z3: 100;
$z2: 10;
$z1: 1;
$z0: 0;
$z-1: -1;
$z-2: -10;
$z-3: -100;
$z-4: -1000;
$z-5: -10000;

$boxshadow1: 0px 2px 15px -5px rgba(0,0,0,0.35);