:root {
    --primary: #e63946;
    --lightblue: #a8dadc;
    --blue: #457b9d;
    --darkblue: #1d3557;
    --offwhite: #f1faee;
    --primary-1: #b52a45;
    --primary-2: #9e1e4f;
    --primary-3: #ea5959;
    --primary-4: #ef957d;
}